# Backend Environment Variables Example
# Copy this file to .env and fill in your values

# Server
NODE_ENV=production
PORT=5000

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# JWT
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters-long
JWT_EXPIRE=365d
JWT_REFRESH_SECRET=your-super-secret-refresh-key-minimum-32-characters-long
JWT_REFRESH_EXPIRE=3650d

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=eft.gretech@gmail.com
EMAIL_PASS=smvevprdsqqoyqjd
EMAIL_FROM=eft.gretech@gmail.com
ADMIN_EMAIL=eft.gretech@gmail.com


# Frontend
FRONTEND_URL=https://your-frontend-domain.vercel.app
